<!DOCTYPE html>
<html lang="en">
<head>
    <title>Submit Data</title>
</head>
<body>
    <h2>Submit Your Data</h2>
    <form action="/submit" method="post">
        <label>Name:</label>
        <input type="text" name="name"><br><br>
        <label>Email:</label>
        <input type="email" name="email"><br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
